h1{
    text-align: center; /* Centra el texto horizontalmente */
    background-color: rgb(0, 0, 0); /* Establece el color de fondo */
    color: whitesmoke; /* Establece el col or del texto */
    padding: 12px; /* Añade espacio interior alrededor del texto */
}

img {
    width: 200px; /* Establece un ancho fijo para las imágenes */
    height: 200px; /* Establece una altura fija para las imágenes */
    border-radius: 70%; /* Hace que las imágenes tengan bordes redondeados */
    object-fit: cover; /* Escala la imagen para cubrir toda el contenedor */
}